body {
  font-family: Roboto, sans-serif; /* Use Arial, or a generic sans-serif if Arial is unavailable */
}

/* Target the ratings container */
#main-wrapper {
  background-color: #def0ff; /* Light blue background */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Add some padding for content spacing */
  margin-bottom: 10px; /* Add some spacing between the container and the footer */
  margin-bottom: 10px; /* Add some spacing between the container and the footer */
}



/* Target the buttons */
.modern-button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 5px; /* Adjust as desired */
  padding: 15px 30px; /* Adjust for desired size */
  background-color: #54a0ff; /* Light blue */
  color: #fff; /* White text */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out; /* Smooth color change */
}

.modern-button:hover {
  background-color: #357ae8; /* Darker blue on hover */
}

.modern-button:active {
  background-color: #2a62d0; /* Even darker blue on click */
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15); /* Subtle shadow on click */
}



/* Target the thumbs-up and thumbs-down buttons */
.kidfriendly,
.thumbs-up,
.thumbs-down {
  background-color: transparent;
  padding: 0;
  /* Center the emoji within the button */
  text-align: center;
  /* Adjust font size as needed */
  font-size: 24px;
  cursor: pointer; /* Indicate interactivity */
  margin: 5px; /* Add spacing between buttons */
  border: 2px solid transparent;
}

/* Add the emoji characters directly to the button content */
.thumbs-up::before {
  content: "👍";
}

.thumbs-down::before {
  content: "👎";
}

/* Add a border to the selected button */
.kidfriendly.selected,
.thumbs-up.selected,
.thumbs-down.selected {
  border: 2px solid; 
  border-color: blue; /* Or any color you prefer */
}

.kidfriendly.selected::after{
  content:"☑️";
}
